.boardAction {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 20px 0;
}

.btnSubmit {
  width: 138px;
  height: 39px;
  border-radius: 16px;
  border: none;
  background-color: #4DA1A9;
  color: #F6F4F0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 6px 4px #4DA1A920;
}

.btnSubmit:hover {
  background-color: #79D7BE;
}
