.postUpload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 60%;
  max-width: 592px;
}

.postUploadHeader a {
  font-size: 24px;
  font-weight: bold;
  line-height: 31.2px;
  margin-bottom: 67px;
}

.postUploadForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f4f5f7;
}

.helperText {
  align-self: flex-start;
  margin-top: 5px;
  padding: 0px 25px;
  display: none;
  color: red;
  font-size: 12px;
  line-height: 14.52px;
}

/* submit btn style */
.submitBtn {
  border: none;
  border-radius: 5px;
  background-color: #aca0eb; /* 활성화 시 색상 */
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.submitBtn:disabled {
  background-color: #aca0eb;
  cursor: not-allowed;
}

.postUploadBtn {
  width: 50%;
  padding: 10px;
}

/* */
.inputBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px;
  border-bottom: 1px solid #00000040;
}

.inputBox div {
  padding: 25px;
  border-bottom: 1px solid #00000040;
}

.inputBoxLabel {
  margin-bottom: 5px;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}

.inputBoxInput {
  border: none;
  width: 100%;
  font-size: 16px;
  background-color: #ffffff00;
  padding: 25px;
}

.inputBoxInput::placeholder {
  color: #000000;
}

.inputBoxTextarea {
  width: 100%;
  height: auto;
  padding: 15px;
  border-radius: 8px;
  border: none;
  overflow-y: auto; /* 세로 스크롤만 활성화 */
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff00;
  min-height: 300px; /* 최소 높이를 설정 (원하는 값으로 조정 가능) */
  box-sizing: border-box; /* 패딩과 보더를 포함하여 너비 계산 */
  resize: none;
}

.inputBoxTextarea::-webkit-scrollbar {
  display: none; /* 웹킷 기반 브라우저에서 스크롤바 숨기기 */
}
