.inputBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .inputBoxLabel {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .inputBoxInput,
  .textArea {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
  }
  
  .inputBoxInput::placeholder,
  .textArea::placeholder {
    color: #888;
  }
  
  .helperText {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  .success {
    color: blue;
    font-size: 12px;
    margin-top: 5px;
  }