.btnBox {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submitBtn {
  border: none;
  border-radius: 5px;
  background-color: #4DA1A9; /* 기본 비활성화 상태 */
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition:
          background-color 0.3s,
          opacity 0.3s,
          cursor 0.3s;
}

.submitBtn:hover {
  background-color: #79D7BE; /* 기본 호버 상태 */
}

.submitBtn:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
